### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary 

* Calculate the total number of schools
* Calculate the total number of students
* Calculate the total budget
* Calculate the average math score
* Calculate the average reading score
* Calculate the percentage of students with a passing math score (70 or greater)
* Calculate the percentage of students with a passing reading score (70 or greater)
* Calculate the percentage of students who passed math and reading (% Overall Passing)
* Create a dataframe to hold the above results
* Optional: give the displayed data cleaner formatting

In [3]:
#calculate the total # of schools
total_schools = school_data_complete["school_name"].nunique()
total_schools

15

In [4]:
#calculate the total # of students
total_students = school_data_complete["Student ID"].nunique()
total_students

39170

In [5]:
#calculate the total budget

total_budget = school_data["budget"].sum()
total_budget

24649428

In [6]:
#calculate average math score
avg_math_score = school_data_complete["math_score"].mean()
avg_math_score

78.98537145774827

In [7]:
#calculate average reading score
avg_reading_score = school_data_complete["reading_score"].mean()
avg_reading_score

81.87784018381414

In [8]:
#Calculate the percentage of students with a passing math score (70 or greater)
students_passing_math = len(school_data_complete[school_data_complete["math_score"]>=70])
percent_passing_math = (students_passing_math/total_students)*100
percent_passing_math

74.9808526933878

In [9]:
#Calculate the percentage of students with a passing reading score (70 or greater)
students_passing_reading = len(school_data_complete[school_data_complete["reading_score"]>=70])
percent_passing_reading = (students_passing_reading/total_students)*100
percent_passing_reading

85.80546336482001

In [10]:
#Calculate the percentage of students who passed math **and** reading (% Overall Passing)
students_passing_both = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)]['Student ID'].nunique()
overall_passing = (students_passing_both/total_students)*100
overall_passing

65.17232575950983

In [11]:
#Create a dataframe to hold the above results
district_summary_df =[{
    "Total Schools": total_schools,
    "Total Students": f"{total_students:,}",
    "Total Budget": f"${total_budget:,.2f}",
    "Average Math Score": f"{avg_math_score:.6f}",
    "Average Reading Score": f"{avg_reading_score:.5f}",
    "% Passing Math": f"{percent_passing_math:.6f}",
    "% Passing Reading": f"{percent_passing_reading:.6f}",
    "% Overall Passing": f"{overall_passing:.6f}"
}]
district_summary = pd.DataFrame(district_summary_df)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [12]:
#Optional: give the displayed data cleaner formatting
district_summary_df =[{
    "Total Schools": total_schools,
    "Total Students": f"{total_students:,}",
    "Total Budget": f"${total_budget:,}",
    "Average Math Score": f"{avg_math_score:.2f}",
    "Average Reading Score": f"{avg_reading_score:.2f}",
    "% Passing Math": f"{percent_passing_math:.2f}%",
    "% Passing Reading": f"{percent_passing_reading:.2f}%",
    "% Overall Passing": f"{overall_passing:.2f}%"
}]
district_summary_clean = pd.DataFrame(district_summary_df)

district_summary_clean

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,65.17%

In [13]:
#make an observational comment

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [14]:
#school name
grouped_school_name_df = school_data_complete.groupby(["school_name"])
print(grouped_school_name_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fed839fad30>

In [15]:
#school type
grouped_school_type = grouped_school_name_df["type"].max()

In [16]:
#total students
grouped_total_students = grouped_school_name_df["Student ID"].count()

In [17]:
#total school budget
grouped_school_budget = grouped_school_name_df["budget"].max()

In [18]:
#per student budget
per_student_budget = grouped_school_budget/grouped_total_students

In [19]:
#average math score
avg_math_score_grouped = grouped_school_name_df["math_score"].mean()

In [20]:
#average reading score
avg_reading_score_grouped = grouped_school_name_df["reading_score"].mean()

In [21]:
# % passing Math
passing_math_grouped = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["Student ID"].count()
percent_passing_math_grouped = (passing_math_grouped/grouped_total_students)*100

In [22]:
# % passing reading
passing_reading_grouped = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["Student ID"].count()
percent_passing_reading_grouped = (passing_reading_grouped/grouped_total_students)*100

In [23]:
# % Overall Passing (The percentage of students that passed math and reading.)
students_passing_both_grouped = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].groupby("school_name")["Student ID"].nunique()
overall_passing_grouped= (students_passing_both_grouped/grouped_total_students)*100

In [24]:
# Create a dataframe to hold the above results
school_summary_df = pd.DataFrame({
    "School Type": grouped_school_type,
    "Total Students": grouped_total_students,
    "Total School Budget": grouped_school_budget,
    "Per Student Budget": per_student_budget,
    "Average Math Score": avg_math_score_grouped,
    "Average Reading Score": avg_reading_score_grouped,
    "% Passing Math": percent_passing_math_grouped,
    "% Passing Reading": percent_passing_reading_grouped,
    "% Overall Passing": overall_passing_grouped  

})

school_summary_formatted_df = school_summary_df
school_summary_formatted_df["Total School Budget"]=school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_formatted_df["Per Student Budget"]=school_summary_df["Per Student Budget"].map("${:,.2f}".format)

school_summary_formatted_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type